{% macro render_feat(feat, provides) %}
{% if feat.type == "nondbfeat" %}
{{feat.full_name}}
{% else %}
<a href = "{{feat.get_article()}}">{{feat.full_name}}</a>
{% endif %}
{% if feat.is_provided(provides) %}
provided by class
{% endif %}
{% endmacro %}

{% macro render_obj(obj) %}
<a href = "{{obj.get_article()}}">{{obj.full_name}}</a>
{% endmacro %}

{% macro feat_tree(feat_list, req_list, provides) %}
    <ul style="margin-top:0; display: inline-block;">
    {% for feat in feat_list %}
        {% if feat.type == "rules_concepts" %}
            {% if feat.is_provided(provides) %}
                <li>{{feat.name.replace("_", " ").capitalize()}} provided by class</li>
            {% else %}
                <li>Get {{feat.name.replace("_", " ")}} from one of:</li>
                {{ feat_tree(feat.sources.feats, req_list, provides) }}
            {% endif %}
        {% else %}
            <li>
            {% if feat.prereqs %}
                {% for prereq_feat in feat.prereqs.feats %}
                    {% if prereq_feat not in req_list %}
                        {% if prereq_feat.type == "featunion" %}
                            {% for subfeat in prereq_feat[:-1] %}
                                {{render_feat(subfeat, provides)}} or
                            {% endfor %}
                            {{render_feat(prereq_feat[-1], provides)}} ->
                        {% else %}
                            {{render_feat(prereq_feat, provides)}} -> 
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            
            {{render_feat(feat, provides)}}
            </li>

        {% endif %}
    {% endfor %}
    </ul>

{% endmacro %}

{% macro gen_procontable(body, cookies) %}

<table class="procontable">
    <tr>
        <th>
            Pros
        </th>
        <th>
            Cons
        </th>
    </tr>
    {% for upside, downside in body.get_upside_downside(cookies) %}
    <tr>
        <td>
            {{ upside}}
        </td>
        <td>
            {{ downside }}
        </td>

    </tr>
    {% endfor %}
</table>

{% endmacro %}