{% extends "item.html" %}
{% block content %}
{% import "macros.html" as macros %}

<h1 style="margin-bottom:0">{{body.full_name}}</h1>
{% for text in body.text.get_text(cookies) %}
<p>
{{text}}
</p>
{% endfor %}

{{macros.gen_procontable(body, cookies)}}


{% if body.required %}
<br><h2 style="margin-bottom:0">Required feats:</h2>
{{ macros.feat_tree(body.required.feats, body.required.feats, provides) }}
<br>
{% for concept in body.required.concepts %}
And get {{concept.full_name}} from one of: <br>

{{macros.feat_tree(concept.sources.feats, body.required.feats, provides)}}

{% endfor %}
{% endif %}

{% if body.recommended %}
<br><h2 style="margin-bottom:0">Recommended feats:</h2>
{{ macros.feat_tree(body.recommended.feats, body.required.feats, provides) }}
{% endif %}

{% endblock %}